{% extends "base.html" %}

{% block content %}
<h2>About</h2>

<p>Created by Harry Redding</p>
<p>Languages used: Python, JavaScript, HTML, SQL</p>


<img src="http://img08.deviantart.net/8f10/i/2013/266/d/3/darkrai_by_darkheroic-d6nmg7l.png">

{% endblock %}