{% extends "base.html" %}

{% block content %}

<h2>Add Friend</h2>
<p>Fill in the username box below and press submit to send a friend request</p>

<form class="add-friend-form" action=/friends/add method="post">
  <div class="form-group">
    <label for="friend-username">Username</label>
    <input name="friend-username" class="form-control" id="friend-username-input" placeholder="Friend's Username"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}