{% extends "base.html" %}

{% block content %}

<h2>Edit Comment</h2>

{% if g.id == comment.person_id %}
<div class="form-container">
	<form action="/comment/edit/{{comment.comment_id}}" method="post">
	  	<div class="form-group">
	    	<textarea name="edit-comment" class="form-control" id="edit-comment">{{comment.body}}</textarea>
	    </div>
		<div class="form-group submit-line">
			<input type="submit" value="Submit">
		</div>
	</form>
</div>
{% else %}
  {{ alert("You do not have access to edit this post") }}
{% endif %}

{% endblock %}