{% extends "base.html" %}

{% block content %}

{% if g.id == post.person_id %}
<form action="/post/edit/{{post.post_id}}" method="post">
  	<div class="form-group">
    	<label for="edit-title">Title</label>
    	<textarea name="post-title" class="form-control" id="edit-title" rows="3">{{post.title}}</textarea>
  	</div>
  	<div class="form-group">
    	<label for="edit-body">Body</label>
    	<textarea name="post-body" class="form-control" id="edit-body" rows="3">{{post.body}}</textarea>
  	</div>
	<div class="submit-edit">
		<input type="submit" value="Submit">
	</div>
</form>
{% else %}
  {{ alert("You do not have access to edit this post") }}
{% endif %}
{% endblock %}