{% extends "base.html" %}

{% block content %}

<h4>Friends Page</h4>
{% if message %}
	{{ alert(message) }}
{% endif %}
<h6>Your user ID is {{g.id}}</h6>
<h6>Your username is {{g.user.capitalize()}}</h6>

<p>You are friends with: </p>

<table class="table">
	<tr>
		<th style="width: 20%">Username</th>
		<th style="word-wrap: break-word;min-width: 20%;max-width: 20%";><a class="add-friend" href=/friends/add>Add Friend</a></th>
		<th style="word-wrap: break-word;min-width: 20%;max-width: 20%";></th>
	</tr>
	<tbody>
		{% for friend in friends %}
			<tr>
				<td class="word-wrap">{{friend.username}}</td>
				<td class="word-wrap">
					<a class="view-friend-button" href="/profile/{{friend.username}}">View profile</a>
				</td>
				<td class="word-wrap">
					<a class="remove-friend-button" onclick="deleteModal('{{friend.username}}', '{{g.id}}')" href="#">Remove</a>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

<p>Friend Requests sent:</p>

<table class="table">
	<tr>
		<th style="width: 20%">Username</th>
		<th style="word-wrap: break-word;min-width: 20%;max-width: 20%";></th>
		<th style="word-wrap: break-word;min-width: 20%;max-width: 20%";></th>
	</tr>
	<tbody>
		{% for request in sent_requests %}
			<tr>
				<td class="word-wrap">{{request.username}}</td>
				<td class="word-wrap">
					Pending
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

<p>Friend Requests received:</p>

<table class="table">
	<tr>
		<th style="width: 20%">Username</th>
		<th style="word-wrap: break-word;min-width: 20%;max-width: 20%";></th>
		<th style="word-wrap: break-word;min-width: 20%;max-width: 20%";></th>
	</tr>
	<tbody>
		{% for request in requests %}
			<tr>
				<td class="word-wrap">{{request.username}}</td>
				<td class="word-wrap">
					<a class="add-friend" onclick="acceptModal('{{request.username}}', '{{g.id}}')" href="#">Accept</a>
				</td>
				<td class="word-wrap">
					<a class="add-friend" href=/friends/request/decline/{{request.username}}/{{g.id}}>Decline</a>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

<div id="remove-friend-modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"></button>
        <h4 class="modal-title">Remove friend</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you would like to remove this friend?</p>
      </div>
      <div class="modal-footer">
      	<a id="delete-friend-btn" class="btn btn-default remove-friend-button">Yes</a>
        <a class="btn btn-default remove-friend-button" href="#" data-dismiss="modal">No</a>
      </div>
    </div>
  </div>
</div>

<div id="accept-friend-modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"></button>
        <h4 class="modal-title">Remove friend</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you would like to accept this friend request?</p>
      </div>
      <div class="modal-footer">
      	<a id="accept-friend-btn" class="btn btn-default accept-friend-button">Yes</a>
        <a class="btn btn-default accept-friend-button" href="#" data-dismiss="modal">No</a>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">

function deleteModal(username, person_id) {
    $("#remove-friend-modal").modal('toggle');
    $("#delete-friend-btn").attr("href", `/friend/remove/${username}/${person_id}`);
}

function acceptModal(username, person_id) {
	$("#accept-friend-modal").modal('toggle');
	$("#accept-friend-btn").attr("href", `/friend/request/accept/${username}/${person_id}`);
}

</script>

{% endblock %}