{% extends "base.html" %}

{% block content %}

<h2>My Posts</h2>

{% for post in posts %}
	<div class="card">
		<a class="card-title left" href="/post/{{post.post_id}}">{{post.title}}<span class="card-date right">{{post.created}}</span></a>
	</div>
{% endfor %}

{% endblock %}