{% extends "base.html" %}

{% block content %}

<h2>New Post</h2>

<form action="/newpost" method="post">
  	<div class="form-group">
    	<label for="title">Title</label>
    	<textarea name="post-title" class="form-control" id="new-title" placeholder="Post Title"></textarea>
  	</div>
  	<div class="form-group">
    	<label for="body">Body</label>
    	<textarea name="post-body" class="form-control" id="new-body" placeholder="Post Body"></textarea>
  	</div>
    <div class="form-group">
      <label for="board">Board</label>
      <select class="chosen-board" id="board-select" name="board-select">
        {% for board in boardList %}
          <option value="{{board}}">{{board}}</option>
        {% endfor %}
      </select>
    </div>
	<div class="submit-post">
		<input type="submit" value="Submit">
	</div>
</form>

<script type="text/javascript">
  $(function() {
    $(".chosen-board").chosen();
  });
</script>

{% endblock %}