{% extends "base.html" %}

{% block content %}

{% if post.archive == 1 %}
<h4>THIS POST HAS BEEN ARCHIVED</h4>
{% endif %}


<h4>{{post.title}}</h4>
<p>{{post.body}}</p>


<h6>Posted on {{post.created}} to {{post.board_id}}</h6>

<h4>Comments</h4>

<div class="form-container">
	<form action="/post/{{post.post_id}}" method="post">
	  	<div class="form-group form-container">
	    	<textarea name="new-comment" class="form-control" id="new-comment" placeholder="New Comment"></textarea>
	    </div>
	    <div class="form-group">
	    {% if g.id == post.person_id %}
	    	{% if not comments %}
	    	<a class="submit-line edit-post delete-post" href="/post/remove/{{post.post_id}}">Delete Post</a>
	    	{% endif %}
	    	{% if post.archive == 0 %}
				<a class="submit-line edit-post" href="/post/edit/{{post.post_id}}">Edit Post</a>
				<a class="submit-line edit-post archive-post" href="/post/archive/{{post.post_id}}">Archive Post</a>
			{% endif %}
		{% endif %}
		</div>
		{% if post.archive == 0 %}
		<div class="form-group submit-line">
			<input type="submit" value="Submit">
		</div>
		{% endif %}
	</form>
</div>

<table class="table">
	<tr>
		<th style="width: 5%">User</th>
		<th style="word-wrap: break-word;min-width: 50%;max-width: 50%";>Comment</th>
		<th style="width: 5%">Created</th>
	</tr>
	<tbody>
		{% for comment in comments %}
			<tr>
				<td class="word-wrap">{{comment.username}}</td>
				<td class="word-wrap">{{comment.body}}

					{% if g.id == comment.person_id and post.archive == 0 %}
					<a class="edit-comment" href="/comment/edit/{{comment.comment_id}}">Edit</a>
					<a class="remove-comment-button" onclick="deleteModal('{{comment.comment_id}}')" href="#">Remove</a>
					{% endif %}

				</td>
				<td class="word-wrap">{{comment.created}}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

<div id="remove-comment-modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"></button>
        <h4 class="modal-title">Remove comment</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you would like to remove this comment?</p>
      </div>
      <div class="modal-footer">
      	<a id="delete-comment-btn" class="btn btn-default remove-comment-button">Yes</a>
        <a class="btn btn-default remove-comment-button" href="#" data-dismiss="modal">No</a>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

function deleteModal(commentID) {
    $("#remove-comment-modal").modal('toggle');
    $("#delete-comment-btn").attr("href", `/comment/remove/${commentID}`);
}


</script>


{% endblock %}