{% extends "base.html" %}

{% block content %}
<h2>{{profile.username.capitalize()}}'s Profile</h2>
<h4>User ID: {{profile.person_id}}</h4>
<h4>Email: {{profile.email}}</h4>
<h4>Account created on: {{profile.created}}</h4>

{% if g.id == profile.person_id %}
<a class="update-profile" href=/profile/{{profile.username}}/update>Update account information</a>
{% endif %}

{% endblock %}